.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    text-align: center;


    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px;
    background-color: #C4C4C4;

}

.hero-title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-text-color);
}

.hero-btn {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--white-text-color);
    cursor: pointer;
    font-family: inherit;
    border: none;
    transition: background 250ms var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--acitv-accent-color);
}